.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
html/
coverage/
.turbo/
.cache/

docker-images/
*.log
*.tar
*.tar.gz

frontend/dist/
frontend/html/
frontend/private*.key

server/**/node_modules/
server/**/coverage/

